body {
    background-color: aqua;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.textkolor{
    color: blue;
    font-size: 3rem;
}
h5{
    color: red;
    line-height: 2rem;
}

.ini{
    color:red ;
    font-size: 2.5rem;
    font-weight: normal;
}

.tebel a {
    color:rgb(13, 255, 0) ;
    font-size: 2.0rem;

}

